@import url("https://fonts.cdnfonts.com/css/mulish");
@import url("globals.css");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Mulish", sans-serif;
}

.container {
  display: flex;
  min-height: 100vh;
  width: 100%;
  overflow-x: hidden;
}

/* Основной контент */
.main-content {
  flex: 1;
  margin-left: 205px;
  padding-top: 90px;
  width: calc(100% - 205px);
  max-width: 100%;
  box-sizing: border-box;
  overflow-x: hidden;
}

@media (max-width: 768px) {
  .main-content {
    margin-left: 0;
    margin-right: 0;
    width: 100%;
    padding-left: 16px;
    padding-top: 45px;
    padding-right: 16px;
    margin-bottom: 56px;
  }

  .logo span {
    display: none;
  }

  .food-drink-header {
    display: flex;
    align-items: center;
  }

  .food-drink-header .channel-avatar {
    width: 28px;
    height: 28px;
    margin-right: 10px;
  }

  .food-drink-info {
    display: flex;
    flex-direction: column;
  }

  .food-drink-info .channel-name {
    font-size: 16px;
    margin-bottom: 2px;
  }

  .food-drink-info .channel-tag {
    font-size: 12px;
    margin-left: 0;
  }

  .section-actions {
    display: flex;
    align-items: center;
  }

  .subscribe-button {
    padding: 8px 12px;
    font-size: 12px;
  }
}

.food-drink-info {
  display: flex;
  flex-direction: column;
}

.food-drink-header {
  display: flex;
  align-items: center;
}

.food-drink-info {
  display: flex;
  flex-direction: row; /* Горизонтальное расположение на десктопе */
  align-items: center;
}

.food-drink-info .channel-name {
  margin-right: 10px; /* Отступ между названием и тегом */
  margin-bottom: 0;
}

@media (max-width: 768px) {
  .food-drink-info {
    flex-direction: column; /* Вертикальное расположение на мобильных */
    align-items: flex-start;
  }

  .food-drink-info .channel-name {
    margin-right: 0;
    margin-bottom: 2px;
  }
}
